<form (submit)="saveProjectChanges()">
  <div class="form-floating mb-3">
    <input
      [(ngModel)]="project.title"
      class="form-control"
      name="project-title"
      id="project-title"
      placeholder="Projektname"
      type="text">
    <label for="project-title">Projektname</label>
  </div>
  <div class="form-floating mb-3">
     <textarea
       [(ngModel)]="project.description"
       class="form-control"
       name="project-description"
       id="project-description"
       placeholder="Projektbeschreibung"></textarea>
    <label for="project-description">Projektbeschreibung</label>
  </div>
  <div class="form-check">
    <input
      [(ngModel)]="project.showHidden"
      [ngModelOptions]="{standalone: true}"
      class="form-check-input"
      name="project-show-hidden"
      id="project-show-hidden"
      type="checkbox">
    <label for="project-show-hidden" class="form-check-label fs-info">
      Versteckte Dateien anzeigen?
    </label>
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-outline-primary btn-sm" type="submit">Speichern</button>
  </div>
</form>
