<!-- header -->
<h1>Informationen</h1>
<div class="row">
    <div class="col-md-12">
        <img src="https://cdn20.pamono.com/p/g/8/6/868205_vcp1x7ujar/promenade-green-sofa-1.jpg" alt="sofa via url">
    </div>      
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h2>Kontakt</h2>
        <p>KONTAKT / IMPRESSUM <br>
            FH JOANNEUM GmbH -University of Applied Sciences<br><br>
            
            INSTITUT<br>
            Software Design & Security<br>
            FH JOANNEUM<br>
            Werk-VI-Straße 46<br>
            8605 Kapfenberg, AUSTRIA<br>
            T.: +43 (0)316 5453-8374<br>
            E.: iit@fh-joanneum.at</p>
            <button type="button" class="btn btn-outline-success"><a target="_blank" href="https://cola.fh-joanneum.at/">zur offiziellen CoLa Website</a></button>

            
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    </div>
    <div class="col-md-5">
        <h2>Impressum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <button type="button" class="btn btn-outline-success"><a target="_blank" href="https://www.fh-joanneum.at/hochschule/organisation/impressum/">FH Joanneum</a></button>
        <p> FOOTER BUG! <br> Dieser Text ist nur da damit der Link sichtbar ist! <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-1"></div>    
</div>
