<!-- header -->
<h1>Informationen</h1>
<div class="row">
  <div class="col-md-12 text-center mt-5">
    <p>Das <strong>CoLa Virtual Coding Lab</strong> (kurz VCL) ist eine Online-Plattform zum Programmieren lernen. Sie entstand im Zuge des
      <a href="https://cola.fh-joanneum.at">Projekt CoLa</a> an der <a href="https://www.fh-joanneum.at">FH JOANNEUM</a> in Kapfenberg.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <h2>Kontakt</h2>
    <p>KONTAKT / IMPRESSUM <br>
      FH JOANNEUM GmbH -University of Applied Sciences<br><br>

      INSTITUT<br>
      Software Design & Security<br>
      FH JOANNEUM<br>
      Werk-VI-Straße 46<br>
      8605 Kapfenberg, AUSTRIA<br>
      T.: +43 (0)316 5453-8374<br>
      E.: iit@fh-joanneum.at</p>
    <a target="_blank" href="https://cola.fh-joanneum.at/">zur
      Projekt Webseite</a>


  </div>
  <div class="col-md-5">
    <h2>Impressum</h2>
    <p>Siehe <a href="https://www.fh-joanneum.at/hochschule/organisation/impressum/" target="_blank">Impressum FH JOANNEUM GmbH</a></p>
  </div>
  <div class="col-md-1"></div>
</div>
