<header #computed class="sticky-top">
  <nav class="navbar navbar-expand-lg" [ngClass]="themeClass()">

    <!-- VCL -->
    <div class="container-fluid" *ngIf="!isEditor; else editor">
      <a class="navbar-brand" routerLink="">{{ title }}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link" routerLink="welcome">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="profile-page">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="info-page">Info</a>
          </li>
        </ul>
        <!-- LIGHT/DARK MODE -->
        <!-- <app-theme-switch></app-theme-switch> -->

        <!-- SEARCH BAR -->
        <!-- <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          >
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
    <!-- /VCL -->

    <!-- EDITOR -->
    <ng-template #editor>
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">{{ title }}</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="">Home</a>
            </li>
            <li class="nav-item">
              <button class="btn nav-link" (click)="openProjectModal()">Projekt wechseln</button>
            </li>
          </ul>
          <app-theme-switch></app-theme-switch>
          <app-export *ngIf="hasProject"></app-export>
        </div>
      </div>
    </ng-template>
    <!-- /EDITOR -->

  </nav>
</header>
