<ul class="list-group" [ngClass]="{'list-group-root' : root, 'collapse' : collapse}">
  <div *ngFor="let child of parent.children | sortExplorer">
    <li class="list-group-item list-group-item-action d-flex justify-content-between"
        [class.active]="isActive(child)"
        (click)="clicked($event, child)"
        (contextmenu)="displayContextMenu($event, child)"
        [attr.data-toggle]="isDirectory(child) ? 'collapse' : null"
        [attr.data-type]="isDirectory(child) ? 'directory' : 'file'"
        [attr.data-name]="child.name"
        [style.padding-left]="paddingLeft()"
    >
      <div>
        <i class="bi"
           [ngClass]="child.isOpen ? 'bi-chevron-down' :'bi-chevron-right'"
           (click)="toggle($event, child)"
           *ngIf="isDirectory(child)"></i>
        <span *ngIf="!child.edit">{{child.name}}<span *ngIf="child.isModified">*</span></span>
        <input type="text" [ngModel]="child.name" (ngModelChange)="updateFileName($event)"
               (keydown)="exitEdit($event, child)" #editRef *ngIf="child.edit">
      </div>
      <div class="options d-inline-block">
        <i class="bi bi-pencil-square" (click)="edit($event, child)"></i>
        <i class="bi bi-trash-fill" (click)="delete($event, child)"></i>
      </div>
    </li>
    <!--<explorer-file [depth]="depth+1" *ngIf="isDirectory(child) && child.children" [parent]="child"
                            [collapse]="!child.isOpen"></explorer-file>-->
  </div>
</ul>

<ng-template addFile></ng-template>

<ng-template contextMenu></ng-template>
