<ul
  #tabs
  class="nav nav-tabs"
  id="fileTab"
  role="tablist"
  aria-label="Open code files"
  *ngIf="displayTabs"
>
  <li class="nav-item" *ngFor="let f of openTabs" role="presentation">
    <button
      class="nav-link"
      aria-current="page"
      (click)="select(f)"
      [class.active]="f.isOpen"
      [id]="tabId(f)"
      data-bs-toggle="tab"
      [attr.data-bs-target]="'#' + contentId(f)"
      type="button"
      role="tab"
      [attr.aria-controls]="contentId(f)"
      [attr.aria-selected]="f.isOpen"
    >
      {{ f.name }}<span *ngIf="f.isModified"> *</span>
      <div *ngIf="isCloseable" class="close" (click)="close(f)"></div>
    </button>
  </li>
</ul>
<div
  class="tab-content"
  id="fileTabContent"
  *ngIf="displayTabs"
>
  <div
    *ngFor="let f of openTabs"
    class="tab-pane fade h-100"
    [class.active]="f.isOpen"
    [class.show]="f.isOpen"
    role="tabpanel"
    [attr.aria-labelledby]="tabId(f)"
    [id]="contentId(f)"
  >
    <app-editor [file]="f"></app-editor>
  </div>
  <div #run *ngIf="showRunArea">
    <!-- TODO: move in own component -->
    <div class="btn-group" style="width: 100%" role="group" aria-label="play/stop area">
      <button type="button" style="width: 50%" class="btn btn-success" (click)="play()">&#9658;</button>
      <button type="button" style="width: 50%" class="btn btn-warning" (click)="stop()">&#9726;</button>
    </div>
  </div>
</div>
<div class="position-relative h-100" *ngIf="openTabs.length === 1 && !showTabsAlways">
  <app-editor [file]="openTabs[0]"></app-editor>
  <div *ngIf="isCloseable" class="close" (click)="close(openTabs[0])"></div>
</div>
