@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "../workspace/resizeable-container.component";

#container {
  overflow: hidden;
  position: relative;
  flex-direction: column;
  width: 100%;

  app-flex-container {
    overflow: auto;
    height: 33.3333%;
    width: 100%;

    .description {
      padding: 5px;

      // TODO: Styling for Lesson description HERE
    }
  }
}

@include media-breakpoint-up(lg) {
  #container {
    flex-direction: row;

    app-flex-container {
      height: 100%;
      width: 33.3333%
    }
  }
}
