@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "../workspace/resizeable-container.component";

app-flex-container {
  width: 100%;
  height: 100%;
}

#container {
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

@include media-breakpoint-up(lg) {
  #container {
    flex-direction: row;
  }
}
