<div id="container" class="d-flex h-100 bg-primary">
  <app-flex-container
    id="left-box"
    class="bg-success"
    [min]="5"
    [breaks]="['lg']"
  >
    <p>OUTER</p>
    <app-explorer></app-explorer>
  </app-flex-container>

  <div
    class="resizer"
    [attr.data-direction]="getDirection()"
    (mousedown)="resize($event)"
  ></div>

  <app-flex-container
    id="right-box"
    class="d-flex flex-column h-100 w-100 bg-info"
    [min]="50"
  >
    <app-flex-container id="right-container" class="d-flex" [min]="30">
      <app-flex-container
        id="left-inner"
        class="h-100 bg-dark"
        [min]="25"
        [breaks]="['md']"
      >
        <ul
          #tabs
          class="nav nav-tabs"
          id="fileTab"
          role="tablist"
          aria-label="Open code files"
          *ngIf="openFiles.length > 1"
        >
          <li class="nav-item" *ngFor="let f of openFiles" role="presentation">
            <button
              class="nav-link"
              aria-current="page"
              (click)="setCurrent(f)"
              [class.active]="f.isOpen"
              [id]="tabId(f)"
              data-bs-toggle="tab"
              [attr.data-bs-target]="'#' + contentId(f)"
              type="button"
              role="tab"
              [attr.aria-controls]="contentId(f)"
              [attr.aria-selected]="f.isOpen"
            >
              {{ f.name }}<span *ngIf="f.isModified"> *</span>
            </button>
            <div class="close" (click)="close(f)">x</div>
          </li>
        </ul>
        <div
          class="tab-content"
          id="fileTabContent"
          *ngIf="openFiles.length > 1"
        >
          <div
            *ngFor="let f of openFiles"
            class="tab-pane fade h-100"
            [class.active]="f.isOpen"
            [class.show]="f.isOpen"
            role="tabpanel"
            [attr.aria-labelledby]="tabId(f)"
            [id]="contentId(f)"
          >
            <app-editor [file]="f"></app-editor>
          </div>
        </div>
        <app-editor
          *ngIf="openFiles.length === 1"
          [file]="openFiles[0]"
        ></app-editor>
      </app-flex-container>

      <div
        class="resizer"
        [attr.data-direction]="getDirection('md')"
        (mousedown)="resize($event)"
      ></div>

      <app-flex-container
        id="right-inner"
        class="h-100 bg-warning"
        [min]="25"
        [breaks]="['md']"
        ><app-output></app-output
      ></app-flex-container>
    </app-flex-container>

    <div
      class="resizer"
      data-direction="vertical"
      (mousedown)="resize($event)"
    ></div>

    <app-flex-container id="right-below" class="bg-light" [min]="10">
      <app-log></app-log>
    </app-flex-container>
  </app-flex-container>
</div>
