@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "resizeable-container.component";

#container {
  overflow: hidden;
  position: relative;
  flex-direction: column;

  #left-box {
    position: relative;
    height: 10%;
    min-height: var(--min-five);
    overflow: auto;
  }

  #right-box {
    min-height: var(--min-five);
    position: relative;

    #right-container {
      position: relative;
      flex-direction: column;
      height: 80%;

    }

    #right-below {
      position: relative;
      height: 20%;
    }
  }
}

@include media-breakpoint-up(md) {
  #container {
    #right-box {
      #right-container {
        flex-direction: row;
        height: 80%;

        #left-inner,
        #right-inner {
          width: 50%;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  #container {
    flex-direction: row;

    #left-box {
      height: 100%;
      width: 10%;
    }
  }
}
