<div id="container" class="d-flex h-100" *ngIf="projectSelected; else chooseProject">
  <app-flex-container
    id="left-box"
    [min]="15"
    [breaks]="['lg']"
    [ngClass]="themeClass()"
  >
    <app-explorer></app-explorer>
    <!--<button (click)="openProjectModal()" class="btn btn-sm mt-3 w-100 btn-light">Projekte</button>-->
  </app-flex-container>

  <div
    class="resizer"
    [attr.data-direction]="getDirection()"
    (mousedown)="resize($event)"
  ></div>

  <app-flex-container
    id="right-box"
    class="d-flex flex-column h-100 w-100"
    [min]="50"
  >
    <app-flex-container id="right-container" class="d-flex" [min]="30">
      <app-flex-container
        id="left-inner"
        class="h-100"
        [min]="25"
        [breaks]="['md']"
      >
        <editor-tab-container></editor-tab-container>
      </app-flex-container>

      <div
        class="resizer"
        [attr.data-direction]="getDirection('md')"
        (mousedown)="resize($event)"
      ></div>

      <app-flex-container
        id="right-inner"
        class="h-100 bg-warning"
        [min]="25"
        [breaks]="['md']"
      >
        <app-output></app-output
        >
      </app-flex-container>
    </app-flex-container>

    <div
      class="resizer"
      data-direction="vertical"
      (mousedown)="resize($event)"
    ></div>

    <app-flex-container id="right-below" class="bg-light" [min]="10">
      <app-log></app-log>
    </app-flex-container>
  </app-flex-container>
</div>


<ng-template #chooseProject>
  <div class="new-project">
    <button (click)="openProjectModal()" class="btn btn-primary w-75 h-25" type="button">Wähle ein Projekt</button>
  </div>
</ng-template>

