
<app-explorer-directory [children]="files" [root]="true"></app-explorer-directory>

<!--
<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let file of files"
    [class.active]="file.isOpen"
    (click)="select(file)"
    (contextmenu)="displayContextMenu($event, file)"
  >
    {{ file.name }}<span *ngIf="file.isModified"> *</span>
  </li>
  <li (keyup)="add($event)" *ngIf="addFile" class="list-group-item">
    <label>
      <input
        #newFile
        autofocus
        class="form-text w-100"
        placeholder="filename"
        type="text"
      />
    </label>
    <div class="btn-group btn-group-sm me-2">
      <button (click)="saveAddFile()" class="btn btn-success" type="button">
        save
      </button>
      <button (click)="hideAddFile()" class="btn btn-danger" type="button">
        cancel
      </button>
    </div>
  </li>
</ul>
<div class="d-grid gap-2 mt-5">
  <button
    (click)="showAddFile()"
    class="btn btn-sm btn-outline-secondary"
    type="button"
  >
    add
  </button>
</div>

-->



<!-- <app-context-menu
  *ngIf="isDisplayContextMenu"
  [ngStyle]="contextMenuStyle()"
  [contextMenuItems]="[{text: 'löschen', event: 'deleteItem'}]"
  (onContextMenuItemClick)="handleMenuItemClick($event)"
></app-context-menu> -->

