explorer-container:not(:first-child) {
  ::ng-deep .card {
    border-radius: 0 !important;
  }
}

explorer-container.file-explorer {
  ::ng-deep .card-body {
    position: relative !important;
    overflow: auto !important;

    & > explorer-directory {
      display: grid;
      white-space: nowrap;
    }
  }
}
