:host {
  color: rgb(16, 71, 126);
  --hf-space: calc(var(--footer-height) + var(--header-height));

  main {
    min-height: calc(100vh - var(--hf-space));
    padding-bottom: var(--hf-space) !important;
  }
}
