h1 {
    font-size: 48px;
    font-family: UnitsLabProMedium;
    padding: 0px 30px;
    text-align: center;

}

h2 {
    font-size: 30px;
    font-family: UnitsLabProMedium;
    margin-top: 40px;
    color: #76B82A
}

p {
    font-size: 18px;
    font-family: UnitsLabProRegular 
}

.btn-outline-success{
    font-family: UnitsLabProRegular;
    background-color:#white;
    border-color:#76B82A; 
    color:#76B82A;
}

.btn-success {
    font-family: UnitsLabProRegular;
    background-color:#76B82A;
    border-color:#76B82A;
}

