<div class="row">
  <h1>Workshops</h1>
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2>vollständige Workshopliste</h2>
    <hr>
    <div class="row" *ngFor="let workshop of workshops">
      <div class="col-md-2">
        <h3>
          {{workshop.title}}
        </h3>
      </div>
      <div class="col-md-5">
        <!-- <div class="description"  [innerHTML]="workshop.description | md2html "></div> -->
        <p>
        {{workshop.description}}
      </p>
      </div>
      <div class="col-md-2">
        <img src="{{workshop.assets}}" alt="Ziel des Workshops als Foto dargestellt">
      </div>
      <div class="col-md-2"> 
        <p>
          Schwierigkeit: <br>
          {{workshop.difficulty}}
        </p>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-outline-success" (click)="startWorkshop(workshop)">
            jetzt starten
        </button>
      </div>
      <hr>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>