<div class="container" [ngSwitch]="id">
  <div *ngSwitchCase="'1'">
    <div #1>
      <!-- draft 1 -->
      <div class="row">
        <h1>Workshops 1</h1>
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <h2>vollständige Workshopliste</h2>
          <div class="row" *ngFor="let workshop of workshops">
            <div class="col-md-2">
              <h3>
                {{workshop.title}}
              </h3>
            </div>
            <div class="col-md-2">
              <!-- <div class="description"  [innerHTML]="workshop.description | md2html "></div> -->
              <p>
              {{workshop.description}}
            </p>
            </div>
            <div class="col-md-2">
              <img src="{{workshop.assets}}" alt="Ziel des Workshops als Foto dargestellt">
            </div>
            <div class="col-md-2">
              <p>
                {{workshop.difficulty}}
              </p>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-outline-success" (click)="startWorkshop(workshop)">
                  WS {{workshop.title}} jetzt starten
              </button>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'2'">
    <!-- draft 2 -->
    <div class="row">
      <h1>Workshops 2</h1>
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <h2>vollständige Workshopliste</h2>
        <div *ngFor="let workshop of workshops">
          <h3>{{workshop.title}}</h3><br>
          <div class="row">
            <div class="col-md-3">
              <p>{{workshop.description}}</p>
            </div>
            <div class="col-md-3">
              <img src="{{workshop.assets}}" alt="Ziel des Workshops als Foto dargestellt">
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-success" (click)="startWorkshop(workshop)">
                WS {{workshop.title}} jetzt starten
              </button>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'3'">
    <!-- draft 3 -->
    <div class="row">
      <h1>Workshops 3</h1>
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <h2>vollständige Workshopliste</h2>
        <div *ngFor="let workshop of workshops">
          <h3>{{workshop.title}}</h3><br>
          <div class="row">
            <div class="col-md-6">
              <p>{{workshop.description}}</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <button class="btn-outline-success" type="button" data-bs-toggle="collapse"
                   [attr.data-bs-target]="'#openCollapseDescription_' + workshop.id" aria-expanded="false"
                   aria-controls="openCollapseDescription">
                  \/ Details
            </button>
            </div>
            <div class="collapse" id="openCollapseDescription_{{workshop.id}}">
              <div class="row">
                <div class="col-md-4">{{workshop.description}}</div>
                <div class="col-md-3">
                  <img src="{{workshop.assets}}" alt="Ziel des Workshops als Foto dargestellt">
                </div>
                <div class="col-md-1">
                  <button type="button" class="btn btn-success" (click)="startWorkshop(workshop)">
                    WS {{workshop.title}} jetzt starten
                  </button>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchDefault>default</div>
</div>
