<!-- header -->
<h1>Welcome to the lab!</h1>
<!-- body -->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <!-- <p> this image was inserted with usual image tag and src from same folder:</p> -->
             <!-- <img src="SofaGruen.jpg" alt="picture of a green couch"> -->
             <!-- <p>following image was inserted with url:</p> -->
            <img src="https://cdn20.pamono.com/p/g/8/6/868205_vcp1x7ujar/promenade-green-sofa-1.jpg" alt="sofa via url">
        </div>
        <div class="row">
    <h2>general</h2><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
    </div>
    <div class="col-md-1"></div>
</div>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h2>Featured Workshop</h2>
        <br>
        <p>feturedWorkshop<br>Beschreibung<br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br></p>
        <button type="button" class="btn btn-success" routerLink="/workshops"
            (click)="getDraftWorkshops(1)">Alle Workshops</button>
    </div>
    <div class="col-md-5">
        <h2>zusätzliche Informationen</h2>
        <br>
        <p>general workshop description or depending on selected workshop!<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et eolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu iat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia eserunt mollit anim id est laborum.</p>
        <p>Link zur Info/Impressum/Kontakt?</p>
    </div>
</div>
<br>
<!-- <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-outline-success">login anonymous</button>
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-success">registrieren</button>
    </div>
</div> -->
<br>

<br>
<!-- button workspace -->
<!-- <button class="btn btn-lg btn-success" routerLink="/workspace">goto Workspace</button> -->
<br><br>
<p>placeholder</p>