<container-element [ngSwitch]="id">
    <div *ngSwitchCase="'1'">
        <!-- draft 1 -->
        <div #1>
            <div class="row">
                <div class="col-xs-12 col-md-8"></div>
                <div class="col-xs-2 col-md-2">
                    <p>
                        <strong>login</strong>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8"></div>
                <div class="col-xs-2 col-md-2">
                    <label for="usernameExample">Username</label>
                    <input type="text" id="usernameExample" placeholder="username">
                </div>
                <div class="col-xs-2 col-md-2">
                    <label for="passwordExample">Passwort</label>
                    <input type="password" placeholder="password">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-9"></div>
                <div class="col-xs-2 col-md-2">
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-success">anmelden</button>
                    </div>
                </div>
            </div>

            <!-- header -->
            <h1>Welcome to the lab!</h1><br>

            <!-- body -->
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <h2>general</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu
                        fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit
                        anim id est
                        laborum.</p>
                </div>
                <div class="col-md-2">
                    <h2>neuester Workshop</h2>
                    <br>
                    <p>neuerWorkshop<br>Beschreibung<br>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut
                        aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu
                        fugiat nulla
                        pariatur.</p><br>
                    <button type="button" class="btn btn-success" routerLink="/workshops"
                        (click)="getDraftWorkshops(1)">Alle Workshops</button>
                </div>

                <div class="col-md-4">
                    <h2>insights zu @neuerWorkshop</h2>
                    <br>
                    <p>generelle Workshopbeschreibung oder Infos zum @neuerWorkshop bzw Fotos
                        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu
                        fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit
                        anim id est
                        laborum.
                    </p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-outline-success">login anonymous</button>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-success">registrieren</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'2'">
        <!-- draft 2 -->
        <div #2>
            <div class="row">
                <div class="col-xs-12 col-md-8"></div>
                <div class="col-xs-4 col-md-4">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Passwort</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <button type="submit" class="btn btn-success">anmelden</button>
                    </form>
                </div>
            </div>

            <!-- header -->
            <h1>Welcome to the lab!</h1>

            <!-- body -->
            <div>
                <h2>general</h2><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex
                    ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat
                    nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim
                    id
                    est
                    laborum.</p>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <h2>neuesterneuester Workshop</h2>
                    <br>
                    <p>neuerWorkshop<br>Beschreibung<br>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut
                        aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu
                        fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit
                        anim
                        id est
                        laborum.</p><br>
                    <button type="button" class="btn btn-success" routerLink="/workshops"
                        (click)="getDraftWorkshops(2)">Alle Workshops</button>
                </div>
                <div class="col-md-6">
                    <h2>workshop description:</h2>
                    <br>
                    <p>general workshop description or depending on selected workshop!<br>Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu
                        fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit
                        anim
                        id est
                        laborum.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-outline-success">login anonymous</button>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-success">registrieren</button>
                </div>
            </div>
        </div>
    </div>



    <!-- draft 3 -->
    <!-- header -->
    <div *ngSwitchCase="'3'">
        <div #3>
            <div class="row">
                <div class="col-xs-12 col-md-6"></div>
                <div class="col-xs-1 col-md-1">Login</div>
                <div class="col-xs-2 col-md-2">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="username">
                </div>
                <div class="col-xs-2 col-md-2">
                    <label for="password">Passwort</label>
                    <input type="password" class="form-control" id="password" placeholder="password">
                </div>
                <div class="col-xs-1 col-md-1">
                    <br>
                    <button type="button" class="btn btn-success">anmelden</button>
                </div>
            </div>
            <br>

            <h1>Welcome to the lab!</h1>

            <!-- body -->
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h2>general information</h2><br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu
                        fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.</p>
                </div>
                <div class="col-md-5">
                    <h2>neuester Workshop</h2>
                    <br>
                    <p>neuerWorkshop<br>Beschreibung<br>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut
                        aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu
                        fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit
                        anim
                        id est
                        laborum.<br></p>
                    <button type="button" class="btn btn-success" routerLink="/workshops"
                        (click)="getDraftWorkshops(3)">Alle Workshops</button>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-1">
                    <br><br><br><br>
                    <button type="submit" class="btn btn-outline-success">login anonymous</button>
                    <br><br>
                    <button type="submit" class="btn btn-success">registrieren</button>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <h2>workshop description:</h2>
                    <br>
                    <p>general workshop description or depending on selected workshop!<br>Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu
                        fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit
                        anim
                        id est
                        laborum.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- draft 5 -->
    <!-- header -->
    <div *ngSwitchCase="'4'">
        <div #4>
            <h1>Welcome to the lab!</h1>

            <!-- body -->
            <img src="../../../../images/gruenes-italienisches-sofa-1950er-1.jpg" alt="picture of a green couch">
            <div>
                <h2>general</h2><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h2>neuester Workshop</h2>
                    <br>
                    <p>neuerWorkshop<br>Beschreibung<br>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris
                        nisi ut
                        aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu
                        fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit
                        anim
                        id est
                        laborum.<br></p>
                    <button type="button" class="btn btn-success" routerLink="/workshops"
                        (click)="getDraftWorkshops(4)">Alle Workshops</button>
                </div>
                <div class="col-md-5">
                    <h2>workshop description:</h2>
                    <br>
                    <p>general workshop description or depending on selected workshop!<br>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu iat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-outline-success">login anonymous</button>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-success">registrieren</button>
                </div>
            </div>
            <br>

            <br>
            <!-- button workspace -->
            <button class="btn btn-lg btn-success" routerLink="/workspace">goto Workspace</button>
        </div>
    </div>
    <div *ngSwitchDefault>default</div>
</container-element>