h1 {
    font-size: 48px;
    font-family: UnitsLabProMedium;
    padding: 0px 30px;
    text-align: center;

}

h2 {
    font-size: 30px;
    font-family: UnitsLabProMedium;
    margin-top: 40px;
    color: #76B82A
}

// .buttonAnonymous {
//     font-size: 18px;
//     font-family: UnitsLabProRegular;
//     border-color:#76B82A;

//     // text-align: center;
// }

// .buttonAnonymousText{
//     text-align: center;
// }

// .buttonAnonymous:hover {
//     background-color: #76B82A;
//     color: white;
// }

p {
    font-size: 18px;
    font-family: UnitsLabProRegular 
}