li.nav-item {
  position: relative;

  .close {
    position: relative;
    display: inline-block;
    width: auto !important;
    height: auto !important;
    margin-left: 10px;
    margin-right: -10px;
  }

  button.active {
    .close {
      opacity: 1;
    }
  }
}

.close {
  position: absolute;
  color: rgb(32, 32, 32);
  right: 2px;
  top: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 9999;
  width: 25px;
  height: 25px;
  border-radius: 15%;
  content: "" !important;
  text-align: center;

  &:hover {
    opacity: 1;
    background-color: rgba(161, 161, 161, 0.8);
  }

  &::after {
    content: "\2715";
    padding: 5px;
  }
}
