.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
  border-radius: 0;

  .list-group {
    margin-bottom: 0;
  }

  .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
    padding: 0.2rem 0.5rem;

    .bi {
      margin-right: 5px;
    }

    input {
      border: none;
      appearance: none;
      outline: none;
      width: 100%;

      &:focus {
        border: none;
        appearance: none;
        outline: none !important;
      }
    }

    .options {
      opacity: 0;
      position: absolute;
      right: 0;

      &:hover {
        opacity: 1;
      }
      i:hover {
        background: #202020;
        color: white;
        padding: 3px;
        border-radius: 25%;
      }
    }
  }

  & .list-group .list-group-item {
    padding-left: 35px !important;
  }
}
