<div *ngIf="workshop" class="h-100 position-relative">
  <app-lessons-workspace [lesson]="workshop.lessons[currentLesson]"></app-lessons-workspace>
  <!-- todo: better styling -->
  <div id="lessons-navigation" class="btn-group position-absolute bottom-0 m-1" role="group" aria-label="Lessons Navigation">
    <button class="btn btn-outline-info" (click)="currentLesson = (currentLesson+1) % workshop.lessons.length">
      zurück
    </button>
    <button class="btn btn-outline-info" (click)="currentLesson = (currentLesson-1) % workshop.lessons.length">
      weiter
    </button>
  </div>
</div>
